
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Spring
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.yml
application-local.properties
